
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

.container{
    font-family: 'Quicksand', sans-serif;
    overflow-y: hidden;
}

.title {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    font-size: 1em;
    font-style: bold;
    padding: 0.5em;
    justify-content: start;

}

.intro-container {
  margin-top: 15em;
  margin-left: -8em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 
}

.name {
  color: white;
  font-size: 9em;
  margin-top: 1em;
  letter-spacing: 3px;
  font-weight: bold;
  text-shadow: 4px 4px turquoise;
}


.title-container {
  background-color: #113946;
  width: 3em;
  height: 2.5em;
  margin: 2em;
  justify-content: center;
  text-align: center;
  position: fixed;
  color: white;
  border-radius: 20px;
}