.container {
    position: fixed;
}

.container :active {
    border-right: 4px solid var(--white);

    img {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    }
}

.sidebar-container {
    background-color: #113946;
    width: 3.5rem;
    height: 80vh;
    margin-top: 6rem;
    margin-left: 1.9rem;
    border-radius: 30px;
    padding: 1rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    position: relative;
}



.logo {
    width: 2rem;
}

.logo img {
    width: 100%;
    height: auto;

  }

.logo :hover {
    transition: all 1.5s;
    transform: rotateY(360deg);
}