.sidebar {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8062D6;
    color: #BB9CC0;


    .bg {
        position: fixed;
        top: 25px;
        left: 20px;
        bottom: 0;
        width: 310px;
        height: 800px;
        background-color: #FFDBC3;
        border-radius: 50px;

    }

    .links {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: #322653;

        a {
            font-size: 30px;
        }
    }

    button {
        position: fixed;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        top: 35px;
        left: 32px;
        background-color: #FFDBC3;
        color: #67729D;
        border: none;
        cursor: pointer;
    }
}